body{border: 1px solid black;
text-align:center;
position:absolute;
margin-left:37%;
font-family:verdana;
padding-left:5%;
padding-right:5%;
color:red;
font-size:12px;
line-height:2em;
}

